extends article-template 

block article-content
  
  h3 Blog #3 - 6/27 Hydroponic Brainstorming
  h6 By Alex and Max Jerdee

  p After the seeds were planted, there was no turning back. We needed to find a place to put the seedlings and eventually the full-grown plants. We quickly realized our mom would not allow for a traditional garden (she doesn’t want to restructure the yard). Therefore, we had to find another way. 
