extends article-template 

mixin article(title='We Failed',link='/',img_url='Article.jpg',category='Misc.',description='Yep')
  .row.article-wrapper
    .col-sm-5
      a.black(href= link)
        img.img-fluid.article-img(src='/images/'+img_url)
    .col-md-7
      a(href= category)
        p.article-category= category
      a.black(href= link)
        p.article-title= title
        p.article-description= description

block article-content
  
  p.section-header Blog Posts:
    .hl
    .col.p-0
      +article('Blog #4 - 7/1 Initial Repotting','/blog-4','blog4-1.JPG','Blog','Once our seedlings reached an inch in height, we needed to transfer them, as to avoid overcrowding and root entangling. Each jiffy pot contained 2-10 seedlings which we had to separate and replant.')
      +article('Blog #3 - 6/27 Hydroponic Brainstorming','/blog-3','HydroSchematic.png','Blog','We spent quite a bit of time thinking about our hydroponic design, researching different methods and figuring out what worked the best for us.')
      +article('Blog #2 - 6/25 Germination','/blog-2','blog2-2.JPG','Blog','In order for our plants to grow, they first need to germinate (sprout out of their seeds and form into seedlings). Lucky for us, the seed packets from Stop and Shop came with instructions. ')
      +article('Blog #1 - 6/20','/blog-1','GrowAndLearn.jpg','Blog','My brother, Max, and I began this gardening adventure in early June. Sometime in mid-May our mom brought home 180 seed packs, which they were giving away in boxes at the local Stop and Shop. ')