extends article-template 

block article-content
  
  h3 Blog #4 - 7/1 Initial Repotting
  h6 By Alex Jerdee

  p Once our seedlings reached an inch in height, we needed to transfer them, as to avoid overcrowding and root entangling. Each jiffy pot contained 2-10 seedlings which we had to separate and replant.

  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog4-1.jpg')
    figcaption.figure-caption 6/20 - Cucumber seedling

  p As always, each plant has different environmental needs, be it temperature, sunlight, spacing or water. We attempted to prepare and cater to these differences by creating a spreadsheet. *Attach here* However, it quickly became clear that our main concern would be spacing. Our mom is strongly opposed to any sort of yard disruption, so she outlawed planting in the yard or building a large bed out of wood-- the typical soil based gardening setup. Our only option was to use the pots we already had and make makeshift pots of our own. We projected that we would need to account for around 300 seedlings, so our 15 pots would simply not work in the long term. Instead we resorted to reusing old containers as pots. While it might not look the most professional, it was at least environmentally conscious.

  figure.figure
    img.figure-img.img-fluid.rounded(max-width='25%', src='/images/blog4-2.jpg')
    img.figure-img.img-fluid.rounded(max-width='25%', src='/images/blog4-3.jpg')
    img.figure-img.img-fluid.rounded(max-width='25%', src='/images/blog4-4.jpg')
    img.figure-img.img-fluid.rounded(max-width='25%', src='/images/blog4-5.jpg')
    figcaption.figure-caption Various janky pot replacements: halved milk gallon, ramen box, recycling bin lid, and salad containers.

  p We mixed Miracle-Gro fertilizer with topsoil and transferred the seedlings with care, in a location that received light 6 hours a day. It was mid to late June, so temperatures averaged highs of  around 81°F, and we watered the plants twice daily. Most seedlings were spaced only an inch apart.

  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog4-6.jpg')
    figcaption.figure-caption 6/21 - Iceberg lettuce placed in a salad container, closely packed

  p The plan was to transfer the plants again once they had large enough root systems to survive in a soilless system.


