extends article-template 

block article-content
  
  h3 Blog #6 - 7/30 Insect Damage
  h6 By Alex Jerdee

  p After a few weeks with our hydroponic system and in soil planting, it became clear that not everything was going according to plan. Many of our turnip leaves had curving white trails in them, and we weren’t exactly sure where they came from. With some research, we realized that the trail was caused by leaf miners, whose larvae bore through the inside of the leaf. The leaf miners themselves are flies. The thought of maggots in our plants was horrifying, so looked for ways to address the issue.
  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog6-1.jpg')
    figcaption.figure-caption 6/29 - Turnip leaves with white leaf miner trails

  p 
    | Refering to the instructions we found at 
    | a(href='https://www.planetnatural.com/pest-problem-solver/houseplant-pests/leafminer-control/') here
    | we crushed the leaf tunnels in order to kill any larvae and removed the heavily infected leaves. From that point forward, the leaf miner issue slowed down. 
  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog6-2.jpg')
    figcaption.figure-caption 6/29 - Crushing leaf miners

  p We also saw that some leaves had holes in them, likely from another type of insect. The larger holes were from caterpillars and the smaller holes were likely from sucking insects.
  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog6-3.jpg')
    figcaption.figure-caption 7/30 - Broccoli leaf damage likely from caterpillars

  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog6-4.jpg')
    figcaption.figure-caption 7/27 - “Parsley worm” aka Eastern black swallowtail larvae

  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog6-5.jpg')
    figcaption.figure-caption 7/21 - Tomato plant leaf damage, likely from sucking insects


