extends article-template 

block article-content
  

  h3 Blog #2- 6/25 Germination
  h6 By Alex Jerdee

  p In order for our plants to grow, they first need to germinate (sprout out of their seeds and form into seedlings). Lucky for us, the seed packets from Stop and Shop came with instructions. 
  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog2-1.jpg')
    figcaption.figure-caption 
      a(href='https://marciastrykowski.com/2020/07/10/gardening-during-the-covid-19-pandemic/') Image Source

  p First we hydrated the provided coco coir tablet, which is able to absorb up to 10x its weight in water. We added the hydrated coco coir to the biodegradable jiffy pot, laid down the seed mat and added an additional quarter inch layer of coco coir. The mini pots laid in a plastic lid indoors next to a window. Given that we began planting in June, the hot climate outside would have inhibited plant growth. 
  p We watered the plants whenever the coco coir appeared dry (lighter in color) by flooding the plastic lid with water and allowing it to be absorbed through the bottom of the pots, around twice a day until the cotyledon leaves sprouted (the first leaves)
  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog2-2.jpg')
    figcaption.figure-caption 6/4 - Several seedlings have sprouted through the surface from the batch of seeds planted five days prior.
  p Germination requires particular conditions in terms of mainly temperature, light, and water. Thus, our environment of partial light half the day at a temperature of around 76°F was more suited to certain plants over others. We observed vast differences in the time it took for germination to occur and for the seedlings to surface. Cucumber, kale, broccoli, and radish plants sprouted within a week, while celery took over a month (our room temperature was outside of celery’s optimal range). Of the 180 pods, around 12 had no visible seedlings form over several months' time. See https://extension.umaine.edu/gardening/manual/propagation/plant-propagation/ for information on optimal ranges for dif plants
  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog2-3.jpg')
    figcaption.figure-caption 6/19 - Just over 2 weeks after the majority of seeds were planted, most of the seedlings flourish.