extends article-template 

block article-content
  h3 Blog #1 - 6/20 Our Situation
  h6 By Alex Jerdee
  p My brother, Max, and I began this gardening adventure in early June. Sometime in mid-May our mom brought home 180 seed packs, which they were giving away in boxes at the local Stop and Shop. We are/were complete amateurs and suddenly we had a potential cornucopia of fruits and vegetables sitting in a cardboard box on our kitchen floor. It’d be a waste not to plant them, right?
  p But growing these plants wasn’t as simple as it might seem. Our mom was unwilling to let us use the backyard beyond 10 square feet along the fence, certainly not enough pace for 100+ plants. Plus, it was already late in the growing season, so there was a chance that the plants wouldn’t be able to stand the heat. With some research we realized there was a way we  could grow our plants without using up space on the lawn-- soilless gardening. Two methods stood out, hydroponics and aeroponics. As we savanged the internet for tutorials and more information, we found pretty scant helpful information on how to build these systems. We watched garden tours and looked at Reddit forums to piece together what we needed, and we decided to make this website to share what we will learn through this process. 
  p We plan to use this blog to keep track of the weekly changes and developments in our new soilless garden, as we inevitably will need to do some troubleshooting. Once we have more experience, we will post articles, which give tips and tricks. We will be setting up our aeroponic and hydroponic systems in the coming weeks. 
