extends article-template 

block article-content
  
  h3 Blog #5 - 7/5 Cleaning Roots
  h6 By Alex Jerdee

  p In hindsight, growing our plants in dirt and then transferring them to a water based system was not the best idea. Since we propagated the plants in small containers, the roots became tangled together. Thus, the process of detangling was tedious. 
  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog5-1.jpg')
    figcaption.figure-caption 6/25 - Mess of cucumber roots from a batch of 4 cucumber seedlings planted in a gallon container

  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog5-2.jpg')
    figcaption.figure-caption 7/3 - Tangled root network
  
  p After brushing off some dirt, we soaked the roots (including the surrounding dirt) in a container of water and massaged the roots apart and the dirt out. The cucumber plants had the most complex root network of any of the plants we grew.
  
  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog5-3.jpg')
    figcaption.figure-caption 6/25 - Single cucumber plant root network, after being separated from the other roots

  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog5-4.jpg')
    figcaption.figure-caption 7/3 - Cucumber root network

  p The process of cleaning the dirt out of the roots became so time consuming that we used several different containers to clean in a multistep process. First, the majority of dirt would dissolve in the large bulk container, then the next container would be used the more stubborn dirt and pieces of bark. We also added a container of soapy water to really scrub the roots 
  figure.figure
    img.figure-img.img-fluid.rounded(src='/images/blog5-5.jpg')
    figcaption.figure-caption 7/3 - Bulk dirt container, detail work container, and soapy water container (top to bottom)

