doctype html
html
  head
    title Tubular Gardens
    link(rel='stylesheet', href='/css/default-styles.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin Sans')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
  body
    .body-container
      block content